## Vehicle project EDA

### Introduction

In this section we will perfom eploratory data analysis for the vehicle_project app.

### Steps:

1. Data overview
2. Data preprocessing
3. Findings

#### 1. Data overview

In [1]:
#importing pandas
import pandas as pd

In [3]:
#reading vehicles_us file and storing it to vehicles df
vehicles = pd.read_csv('~/Notebooks/vehicles_project/vehicles_us.csv', na_values=[])

#obtaining general info
print(vehicles.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB
None

Note: there're colums with missing values, we will need to check whether it's critical for analysis. We will also need to check the data against duplicate values.

In [4]:
print(vehicles.sample(10))

       price  model_year                         model  condition  cylinders  \
37291   8995      2014.0               chevrolet cruze  excellent        4.0
49059  21995         NaN                 jeep wrangler       good        6.0
22831  14980      2012.0                    ford f-150  excellent        6.0
47247  10300      2010.0                 toyota tacoma   like new        4.0
38394   7950      2009.0                subaru outback  excellent        4.0
23992  10950      2011.0                  jeep liberty  excellent        6.0
31597   5500      2012.0                toyota corolla  excellent        4.0
37509  21450      2008.0                      ram 3500   like new        6.0
13201  10370      1994.0              chevrolet camaro       good        8.0
47883  19700      2017.0  chevrolet camaro lt coupe 2d       good        6.0

         fuel  odometer transmission    type paint_color  is_4wd date_posted  \
37291     gas   83567.0    automatic   sedan         NaN     NaN  2019-04-16
49059     gas   43128.0        other     SUV         NaN     1.0  2019-03-04
22831     gas  140123.0    automatic  pickup         red     1.0  2018-06-20
47247     gas   43000.0       manual  pickup         NaN     NaN  2018-11-22
38394     gas  102276.0    automatic   wagon        grey     1.0  2018-06-24
23992     gas  101709.0    automatic     SUV       black     1.0  2019-01-17
31597     gas   80700.0    automatic   sedan         NaN     NaN  2018-12-31
37509  diesel  159783.0    automatic   truck         red     1.0  2018-10-28
13201     gas   32398.0        other   coupe       white     NaN  2018-06-24
47883     gas   35807.0        other   coupe       black     NaN  2018-11-25

       days_listed
37291           39
49059           29
22831           30
47247           74
38394           86
23992           51
31597            6
37509           12
13201           17
47883           14

#### 2. Data preprocessing

##### 2.1 Duplicate values

In [5]:
#Check for obvious duplicates
vehicles.duplicated().sum()

0

Note: there are no duplicate values in the dataset.

##### 2.2 Missing values

In [ ]:
#reading vehicles_us file and storing it to vehicles df
vehicles = pd.read_csv('~/Notebooks/vehicles_project/vehicles_us.csv')

#obtaining general info
print(vehicles.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB
None

In [12]:
print(vehicles['is_4wd'].unique())

[ 1. nan]

In [11]:
print(vehicles['model_year'].unique())

[2011.   nan 2013. 2003. 2017. 2014. 2015. 2012. 2008. 2018. 2009. 2010.
 2007. 2004. 2005. 2001. 2006. 1966. 1994. 2019. 2000. 2016. 1993. 1999.
 1997. 2002. 1981. 1995. 1996. 1975. 1998. 1985. 1977. 1987. 1974. 1990.
 1992. 1991. 1972. 1967. 1988. 1969. 1989. 1978. 1965. 1979. 1968. 1986.
 1980. 1964. 1963. 1984. 1982. 1973. 1970. 1955. 1971. 1976. 1983. 1954.
 1962. 1948. 1960. 1908. 1961. 1936. 1949. 1958. 1929.]

In [13]:
print(vehicles['cylinders'].unique())

[ 6.  4.  8. nan  5. 10.  3. 12.]

In [16]:
print(vehicles[vehicles['odometer'].isna() == True]['odometer'].unique())

[nan]

In [17]:
print(vehicles[vehicles['paint_color'].isna() == True]['paint_color'].unique())

[nan]

Note: there're no critical missing values. Nan values will not affect the calculations and analysis.

#### 3 Findings

The dataset doesn't have duplicate entries and critical missing values. It can be used for further processing in the project.